<template lang="pug">
    div.modal-mask
        div.modal-wrapper
            div.modal-container

                div.modal-header
                    div.uk-inline
                        h3 Cписок глав
                            i(uk-icon="icon: close" @click="$emit('close')")
                        span(style="margin-right:5px") Выберите источник:
                        button(v-if="chapters" id="source" class="uk-button uk-button-default" type="button") {{ item.entity_sources[0].source | getDomain}}
                        button(v-else id="source" class="uk-button uk-button-default" type="button") Источник не выбран
                        div(id="dd-source" uk-dropdown="mode: click")
                            ul(class="uk-nav uk-dropdown-nav")
                                li.uk-nav-divider
                                li(v-for="(item, index) in item.entity_sources", :key="index")
                                    a(@click="loadChapters(item.source)") {{ item.source | getDomain}}

                scroll.modal-body
                    loading(:show="loading.status", :label="loading.text")
                    div(v-if="chapters")
                        div(v-for="(item, index) in chapters", :key="index")
                            router-link(:to="{path: '/reader/'+index}") {{ item.title }}
                    div(v-else)
                        div(v-for="(item, index) in dataChapters", :key="index")
                            router-link(:to="{path: '/reader/'+index}") {{ item.title }}

                div.modal-footer
</template>

<script>
import Scroll from '../../utils/Scroll'
import vuex from '@/store/index.js'
import Loading from 'vue-full-loading/src/Loading'

export default {
  name: 'chapters-list',
  components: {Scroll, Loading},
  data () {
    return {
      loading: {
        status: false,
        text: 'Загрузка...'
      },
      ipc: null,
      dataChapters: []
    }
  },
  mounted: function () {
    this.ipc = require('electron').ipcRenderer
  },
  computed: {
    item () {
      return vuex.state.ItemPage.item[this.$route.params.id]
    },
    chapters () {
      return vuex.state.ItemPage.chapters[this.$route.params.id]
    }
  },
  methods: {
    loadChapters: function (source) {
      this.loading.status = true
      document.getElementById('source').innerHTML = matchDomain(source)
      this.ipc.send('request-chapters', source)
      this.ipc.on('response-chapters', (event, arg) => {
        if ('error' in arg) {
          // eslint-disable-next-line no-undef
          UIkit.notification(arg.msg, 'primary')
          this.loading.status = false
          return
        }
        if (arg.length > 0) {
          this.dataChapters = arg
          vuex.dispatch('setChapters', this.dataChapters, this.$route.params.id)
          this.loading.status = false
          let dd = document.getElementById('dd-source')
          // eslint-disable-next-line no-undef
          UIkit.dropdown(dd).hide()
        } else {
          // eslint-disable-next-line no-undef
          UIkit.notification('Не удалось получить список глав!', 'primary')
          this.loading.status = false
        }
      })
    }
  },
  filters: {
    getDomain: function (source) {
      return matchDomain(source)
    }
  }
}

function matchDomain (source) {
  let pattern = new RegExp('^(http(s)?(:\\/\\/))?(www\\.)?' + '[a-zA-Z0-9-_\\.]+', 'gi')
  return pattern.exec(source)[0].replace(/http(s)?(:[\\/][\\/])/g, '')
}
</script>

<style lang="stylus" scoped>
    .modal-mask {
        position: fixed;
        z-index: 11;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 700px;
        height: 100%
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header
        & .uk-inline
            width 100%
            & h3
                display flex
                justify-content space-between
                width 100%
                margin-top: 0;
                color: #42b983;
                & i
                    cursor pointer

    .modal-body {
        margin: 20px 0 20px 0;
        height: 80vh
        overflow: auto
    }
</style>