<template lang="pug">
    div.item-page
        loading(:show="loading.status", :label="loading.text")
        div(v-if="item !== null")
            div.wrapper
                div
                    div(class="cover")
                        img(:src="item.cover")
                    div
                        button(id="show-modal", class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom", @click="showModal = true") Открыть источники глав
                div.sub-info
                    h1 {{ item.title }}
                    div
                        router-link(:to="{path: '/manga?typeId='+item.entity_type.id}")
                            h3 {{item.entity_type.typeName}}
                    div
                        div.subtitle Альтернативные названия:
                        div(class="indent", v-for="(name, index) in item.alternative_names_entity", :key="index") {{name.alternativeName}}
                    div
                        div.subtitle Авторы:
                        router-link(class="indent", v-for="(name, index) in item.entity_authors", :key="index" :to="{path: '/manga?authorId='+name.id}") {{name.authorName | capitalize}}
                    div.genres
                        div.subtitle Жанры:
                        span(class="indent", v-for="(name, index) in item.entity_genres", :key="index") {{name.genreName | capitalize}}
                            span(v-if="index+1 < item.entity_genres.length") ,
                                |
                                |


                    div
                        div.subtitle Статус:
                        span.indent {{item.strRelease}}
                        br
                        span.indent {{item.strTranslate}}

            div(id="desc" class="description")
                h3 Описание
                span {{item.description}}

            div(v-if="item.description.length > 420")
                hr
                span(class="open-desc", @click="showDesc")
                    span(v-if="!btnText") Показать
                    span(v-else) Скрыть
                    |
                    | описание

            chapters-list(v-if="showModal", @close="showModal = false")

            div(style="height: 100px")

        div(v-else) Не удалось получить данные с сервера
            br
            router-link(to="/manga")
                i
                span.nav-text Вернуться в каталог
</template>

<script>
import vuex from '@/store/index.js'
import chaptersList from './ChaptersList'
import Loading from 'vue-full-loading/src/Loading'

export default {
  name: 'item-page',
  components: {chaptersList, Loading},
  data () {
    return {
      btnText: false,
      showModal: false,
      item: null,
      catalogPage: this.$route.params.backPage,
      loading: {
        status: false,
        text: 'Загрузка...'
      }
    }
  },
  created () {
    if (this.$route.params.id === 'manga') {
      this.$router.push('/manga')
    } else {
      vuex.dispatch('setItem', this.$route.params.id).then(() => {
        this.item = vuex.state.ItemPage.item[this.$route.params.id]
        this.loading.status = false
      })
    }
  },
  mounted: function () {
    this.loading.status = true
  },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  beforeRouteLeave (to, from, next) {
    console.log(to)
    if (to.query.hasOwnProperty('authorId')) {
      vuex.dispatch('searchByAuthor', to.query.authorId)
    }
    if (to.query.hasOwnProperty('typeId')) {
      console.log(to.query.typeId)
      vuex.dispatch('searchByType', to.query.typeId)
    }
    next()
  },
  methods: {
    showDesc: function () {
      let desc = document.getElementById('desc')
      if (desc.style.display !== 'block') {
        desc.style.display = 'block'
        this.btnText = !this.btnText
      } else {
        desc.style.display = '-webkit-box'
        this.btnText = !this.btnText
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.item-page
    margin-top 50px
    margin-left auto
    margin-right auto
    display flex
    flex-direction column
    & .wrapper
        display flex
        flex-direction row
        & .cover
            width 300px
            height 440px
            & img
                border-radius 6px
                width: 100%
                height: 100%
        & .sub-info
            margin-left 30px
            color: #aeb1b3;
            & h1
                width: 400px;
            & h1, & h3
                color: #6d7072;
            & .genres
                width 350px
            & .subtitle
                margin-top 10px
                color: #6d7072;
            & .indent
                padding-left 15px
    & .description
        width: 700px
        margin-top 30px
        text-align justify
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        & h3
            color: #6d7072;
    & .open-desc
        cursor: pointer
        display: block
        margin-top: -24px
        text-align: center
        &:hover
            color: #aeb1b3;
</style>