<template lang="pug">
    div.catalog-item
        div.cover
            slot(name="cover")
        div.sub-info
            slot(name="release")
            slot(name="translate")
        div.title
            slot(name="title")

</template>

<script>
export default {
  name: 'item'
}
</script>

<style lang="stylus" scoped>
    .catalog-item
        position relative
        width: 170px
        height: 330px
        text-align center
        & .cover
            width 170px
            height: 260px
            & img
                width: 100%
                height: 100%
                border-radius 6px
        & .sub-info
            width: 100%
            position absolute
            top 190px
            display flex
            flex-direction column
            justify-content center
            align-items flex-end
            & span
                color black
                &:last-child
                    margin-top 10px
        & .title
            margin-top 5px
            & a
                font-size: 20px
                color: #aeb1b3;
                text-decoration: none;
                cursor: pointer;
                line-height 22px
                &:hover
                    color white

</style>