<template lang="pug">
    div#reader
        loading(:show="loading.status", :label="loading.text", :overlay="loading.overlay")
        div.to-manga
            router-link(:to="{path: '/catalog/'+home}" uk-icon="icon: home" class="uk-icon-button")
            span(@click="showInfo" class="info uk-icon-button" uk-icon="info")
        div(id="img-page", class="page", :class="{retry: toRetry}", @click="nextPage")
            img(
                id="page"
                v-if="!toRetry"
                :src="pages[currentPage]"
                @contextmenu.prevent="backPage"
                v-on:load="resize"
            )
            button(
                v-else
                @click="retryDowloadPages"
                class="uk-button uk-button-primary"
            ) Повторить попытку

        paginate(
            ref="paginate"
            :page-count="pages.length"
            :page-range="10"
            :container-class="'pagination'"
            :page-class="'uk-icon-button'"
            :page-link-class="'page-a'"
            :click-handler="pageSelection"
            :next-class="'hidden'"
            :prev-class="'hidden'"
        )
        span(@click="toTop" class="to-top uk-icon-button" uk-icon="chevron-up" uk-totop uk-scroll)
</template>

<script>
import vuex from '@/store/index.js'
import Paginate from 'vuejs-paginate'
import Loading from 'vue-full-loading/src/Loading'
import Vue from 'vue'

Vue.component('paginate', Paginate)

export default {
  name: '',
  components: {Paginate, Loading},
  data () {
    return {
      ipc: null,
      home: vuex.state.ItemPage.id,
      loading: {
        status: false,
        text: 'Загрузка...',
        overlay: true
      },
      pages: [],
      currentPage: 0,
      chapters: vuex.state.ItemPage.chapters[vuex.state.ItemPage.id],
      currentChapter: this.$route.params.chapterIndex,
      toRetry: false
    }
  },
  created: function () {
    this.ipc = require('electron').ipcRenderer
  },
  mounted: function () {
    windowOnResize(this)
    this.loading.status = true
    this.loading.text = 'Загрузка...'
    getPagesIPC(this)
  },
  computed: {
    statusLoading () {
      return this.loading.status
    }
  },
  watch: {
    currentPage: function () {
      this.$refs.paginate.selected = this.currentPage
      window.scrollTo(0, 0)
    },
    statusLoading: function () {
      if (!this.statusLoading) {
        removeIpcListeners(this)
        chapterInfo(this, 1500)
      }
    }
  },
  methods: {
    nextPage: function () {
      let element = document.querySelector('.vb-content')
      if (element !== null) element.scrollTop = 0
      let pagesCount = Object.keys(this.pages).length - 1
      if (this.currentPage !== pagesCount) {
        this.currentPage += 1
      } else {
        this.currentChapter -= 1
        if (this.currentChapter >= 0) {
          this.loading.status = true
          this.loading.text = 'Загрузка...'
          getPagesIPC(this)
          this.currentPage = 0
        } else {
          // eslint-disable-next-line no-undef
          UIkit.notification('Это была последняя страница', 'primary')
        }
      }
    },
    backPage: function () {
      if (this.currentPage !== 0) {
        this.currentPage -= 1
      }
    },
    pageSelection: function (number) {
      this.currentPage = number - 1
    },
    resize: function (e) {
      let w = window.innerWidth - 100
      let imgW = e.path[0].naturalWidth
      if (imgW >= w) {
        imgW = w - 100
      }
      let div = document.getElementById('img-page')
      div.style.width = imgW.toString() + 'px'
    },
    showInfo: function () {
      chapterInfo(this, 2500)
    },
    retryDowloadPages: function () {
      this.loading.status = true
      this.loading.text = 'Загрузка...'
      getPagesIPC(this)
    },
    toTop: () => {
      document.querySelector('.vb-content').scrollTop = 0
    }
  }
}

function getPagesIPC (context) {
  context.ipc.send('request-pages', context.chapters[context.currentChapter])
  context.ipc.on('response-pages', (event, arr) => {
    context.toRetry = false
    context.pages = arr
    context.loading.status = false
  })
  context.ipc.on('downloaded', (event, msg) => {
    context.loading.text = msg
  })
  context.ipc.on('download-error', (event, msg) => {
    // eslint-disable-next-line no-undef
    UIkit.notification(msg, 'warning')
    context.loading.status = false
    context.toRetry = true
  })
}

function removeIpcListeners (context) {
  context.ipc.removeAllListeners('request-pages')
  context.ipc.removeAllListeners('response-pages')
  context.ipc.removeAllListeners('downloaded')
  context.ipc.removeAllListeners('download-error')
}

function chapterInfo (context, time) {
  let chTitle = context.chapters[context.currentChapter].title
  let length = context.chapters.length
  let current = context.currentChapter
  let msg = `${chTitle} [${length - current} / ${length}]`
  // eslint-disable-next-line no-undef
  UIkit.notification(msg, {status: 'primary', timeout: time})
}
function windowOnResize () {
  window.onresize = () => {
    let img = document.getElementById('page')
    if (img !== null) {
      let w = window.innerWidth - 100
      let imgW = img.naturalWidth
      if (imgW >= w) {
        imgW = w - 100
      }
      let div = document.getElementById('img-page')
      div.style.width = imgW.toString() + 'px'
    }
  }
}
</script>

<style lang="stylus">
    #reader
        position relative
        width: 90vw
        height: 100vh
        display flex
        justify-content center
        & .to-manga, & .info
            position fixed
            top: 50px
            right 100px
            z-index 1
        & .info
            top 100px
        & .to-top
            position fixed
            bottom 60px
            right 100px
            z-index 1
        & .info, & .to-top
            cursor pointer
        & .retry
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        & .page
            position absolute
            margin auto
            width: 100%
            height 100%
            background-color: white
            & img
                width 100%
        & .pagination
            position fixed
            display flex
            flex-direction column
            height 100%
            align-items center
            justify-content center
            right 100px
            list-style-type none
            & .page-a
                text-decoration none
            & .active
                background-color: black
    .hidden
        display none
</style>