<template lang="pug">
    div.wrapper
        loading(:show="loadingStatus", :label="loading.text")
        div(class="uk-search uk-search-large")
            span(uk-search-icon)
            input(v-model="keyword" @keyup.enter="search" class="uk-search-input" type="search" placeholder="Строка поиска")
            button(@click="search" class="uk-button uk-button-primary") Найти
        button(@click="searchDel" v-if="isSearch" class="uk-button uk-button-danger close") Закрыть поиск
</template>

<script>
import vuex from '@/store/index.js'
import searchItem from './search/SearchItem'
import Loading from 'vue-full-loading/src/Loading'

export default {
  name: '',
  components: {searchItem, Loading},
  props: ['status'],
  data () {
    return {
      keyword: '',
      loading: {
        text: 'Загрузка...'
      }
    }
  },
  computed: {
    loadingStatus () {
      return vuex.state.Catalog.meta.status
    },
    isSearch () {
      let count = vuex.state.Catalog.search.manga.count
      if (count === 'undefined' || count === undefined) return false
      return count !== 0
    }
  },
  methods: {
    search: function () {
      if (this.keyword === '') {
        // eslint-disable-next-line no-undef
        UIkit.notification('Пожалуйста заполните поле для поиска!')
        return
      }
      vuex.dispatch('search', this.keyword.trim())
    },
    searchDel: function () {
      this.keyword = ''
      vuex.dispatch('searchDel')
    }
  }
}
</script>

<style lang="stylus" scoped>
    .wrapper
        width 100%
        display flex
        align-items center
        & .uk-search
            display flex
            align-items center
        & .uk-button
            height 40px
        & .close
            margin-left 15px

</style>