<template lang="pug">
    div.form
        div.form-wrapper
            ul(id="form-tab" uk-tab)
                li(class="uk-active")
                    a(@click="showForm = 'login'") Вход
                li
                    a(@click="showForm = 'reg'") Регистрация
            div(class="login" v-if="showForm === 'login'")
                input(class="uk-input uk-form-width-medium" v-model="logForm.login" placeholder="Логин")
                input(class="uk-input uk-form-width-medium" v-model="logForm.password" @keyup.enter="login" type="password" placeholder="Пароль")
                button(class="uk-button uk-button-secondary" @click="login") Войти
            div(class="invite" v-else)
                input(class="uk-input uk-form-width-medium" v-model="regForm.invite" placeholder="Ключ")
                input(class="uk-input uk-form-width-medium" v-model="regForm.displayName" placeholder="Отображаемое имя")
                input(class="uk-input uk-form-width-medium" v-model="regForm.login" placeholder="Логин")
                input(class="uk-input uk-form-width-medium" v-model="regForm.password" @keyup.enter="registration" type="password" placeholder="Пароль")
                button(class="uk-button uk-button-secondary" @click="registration") Отправить

</template>

<script>
import vuex from '@/store/index.js'

export default {
  data () {
    return {
      ipc: null,
      regForm: {
        invite: '',
        displayName: '',
        login: '',
        password: ''
      },
      logForm: {
        login: 'test',
        password: 'test'
      },
      showForm: 'login',
      auth: vuex.state.Auth
    }
  },
  created: function () {
    this.ipc = require('electron').ipcRenderer
  },
  methods: {
    registration: function () {
      vuex.dispatch('registration', this.regForm).then(
        success => {
          this.showForm = 'login'
        },
        failure => {
          // eslint-disable-next-line no-undef
          UIkit.notification(failure.message)
        }
      )
    },
    login: function () {
      vuex.dispatch('login', this.logForm).then(
        success => {
          this.ipc.send('user-id', this.auth.profile.id)
        },
        failure => {
          // eslint-disable-next-line no-undef
          UIkit.notification(failure.message)
        })
    }
  }
}
</script>

<style lang="stylus" scoped>
    .form
        width 100%
        height 100vh
        display flex
        & .uk-tab
            justify-content space-between
            position absolute
            top 30%
        & .form-wrapper
            margin auto
            & .invite, & .login
                display flex
                flex-direction column
</style>