<template lang="pug">
    div.chat-wrapper
        div.users-wrapper
            h3 Онлайн
            scroll(class="users-list")
                ul
                    li(v-for="(user, index) in users" :key="user.id")
                        span.status
                        span {{ user.displayName }}

        div.messages-wrapper
            scroll(id="chat-box" class="messages")
                div(class="chat")
                    ul
                        message-bubble(v-for="(msg, index) in messages" :key="index" :sender="msg.personal")
                            img(slot="avatar" :src="msg.avatar")
                            span(slot="date") {{ msg.date }}
                            span(slot="user-name") {{ msg.userName }}
                            p(slot="msg-text") {{ msg.text }}
                        li(style="height: 20px;")

            div.message-box
                input(type="text" class="uk-input" @keyup.enter="send" v-model="msgInput" placeholder="Type text...")
                button(class="uk-button uk-button-primary" @click="send") Отправить
</template>

<script>
import MessageBubble from './chat/MessageBubble'
import Scroll from './utils/Scroll'
import vuex from '@/store/index.js'
import axios from 'axios'
import {config} from '../config'

let ws = new WebSocket(`ws://${config.server}:${config.port}/chat`)
let timerID = 0

export default {
  components: {MessageBubble, Scroll},
  data () {
    return {
      msgInput: '',
      messages: [],
      users: [],
      handshake: false
    }
  },
  mounted: function () {
    getHistory(this)
    let that = this
    ws.onopen = function (event) {
      console.log('ws open')
      keepAlive()
    }
    ws.onclose = function (event) {
      cancelKeepAlive()
    }
    ws.addEventListener('message', function (event) {
      let data = event.data
      data = JSON.parse(data)
      console.log(data)
      let msg = {
        text: data.messages[0].text,
        userName: data.messages[0].userName,
        avatar: data.messages[0].avatar,
        personal: (that.profile.id === data.messages[0].userId),
        date: data.messages[0].date
      }
      that.users = data.meta.users
      that.messages.push(msg)
    })
  },
  computed: {
    profile () {
      return vuex.state.Auth.profile
    }
  },
  updated: function () {
    let el = document.getElementsByClassName('chat')[0]
    el.scrollTop = el.scrollHeight
  },
  methods: {
    send: function () {
      let msg = {
        text: this.msgInput,
        userName: this.profile.displayName,
        avatar: (this.profile.avatar === '') ? `https://api.adorable.io/avatars/65/${this.profile.login}.png` : this.profile.avatar,
        userId: this.profile.id
      }
      ws.send(JSON.stringify(msg))
      this.msgInput = ''
    }
  }
}

function sendPingMsg () {
  let msg = {
    text: 'ping',
    userName: 'ping',
    avatar: 'ping',
    userId: 'ping'
  }
  ws.send(JSON.stringify(msg))
}

function keepAlive () {
  let timeout = 20000
  if (ws.readyState === ws.OPEN) {
    sendPingMsg()
  }
  timerID = setTimeout(keepAlive, timeout)
}

function cancelKeepAlive () {
  if (timerID) {
    clearTimeout(timerID)
  }
}

function getHistory (context) {
  axios.get(`http://${config.server}:${config.port}/chat/api`)
    .then(response => {
      response.data.messages.forEach((msg) => {
        msg.personal = (context.profile.id === msg.userId)
      })
      context.messages = response.data.messages
      if (response.data.meta.users.length > 0) {
        context.users = response.data.meta.users
      }
    })
}
</script>

<style lang="stylus" scoped>
    .chat-wrapper
        display flex
        width 100%
        & .users-wrapper
            position fixed
            top 0
            right 0
            bottom 0
            order 1
            @media screen and (max-width: 1100px)
                display none
            & h3
                padding 0
                padding-top 20px
                margin 0
            & .users-list
                padding-top 10px
                width 250px
                & ul
                    list-style none
                    padding 0
                    & li
                        display flex
                        align-items center
                    & .status
                        height: 10px;
                        width: 10px;
                        background-color: green;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right 7px
        & .messages-wrapper
            width: 540px;
            height: 100vh;
            position: relative;
            display: flex;
            justify-content: center;

            & .messages
                width 100%
                padding 0 20px
                height 95vh
                background transparent
                & .chat
                    & ul
                        width 100%
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        margin-bottom 20px


            & .message-box
                width: 540px;
                display: flex;
                position: fixed;
                bottom: 0;
</style>