<template lang="pug">
    li(:class="senderClass")
        a.user
            slot(name="avatar")
        .head
            .date
                slot(name="date")
            .user-name
                slot(name="user-name")
        .message
            slot(name="msg-text")

</template>

<script>
  export default {
    name: 'MessageBubble',
    props: ['sender'],
    data () {
      return {
        senderClass: {
          you: toBool(this.sender),
          other: !toBool(this.sender)
        }
      }
    }
  }

  function toBool (val) {
    return (val === 'true' || val)
  }
</script>

<style lang="stylus" scoped>
    li
        margin: 45px 0 0 0;
        font-weight: 300;
        & a.user
            margin: -30px 0 0 0;
            display: block;
            color: #333;
            & img
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-color: #f3f3f3;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)
        & .user-name
            font-size: 14px;
            color: #cec1c1;

        & .message
            display: block;
            padding: 10px;
            position: relative;
            color: #fff;
            font-size: 15px;
            background-color: #2ECC71;
            border-radius: 3px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            &:before
                content: '';
                position: absolute;
                border-top: 16px solid rgb(46, 204, 113);
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
            &:after
                content: '';
                position: absolute;
                top: 0;
                border-top: 17px solid #2ECC71;
                border-left: 17px solid transparent;
                border-right: 17px solid transparent;

            & p
                margin: 0;
                padding: 0;
                transition: all 0.1s;
            & .hider
                opacity: 0;
                z-index: -1;
                position: absolute;
                height: 100%;
                width: 100%;
                margin: -10px;
                text-align: center;
                cursor: pointer;
                transform-style: preserve-3d;
                transition: all 0.1s;
            & span
                display: block;
                position: relative;
                top: 50%;
                font-size: 16px;
                transform: translateY(-50%);
    li.you
        & a.user
            float: right;
        & .user-name
            float: right;
            margin: -20px 10px 0 0;
        & .message
            margin: 0 90px 0 0;
            &:before
                margin: -10px -16px 0 0;
                right: 0;
            &:after
                content: '';
                right: 0;
                margin: 0 -15px 0 0;

    li.other
        & a.user
            float: left;
        & .user-name
            float: left;
            margin: -20px 0 0 10px;
        & .date
            float: right;
            margin: -20px 0 0 10px;
        & .message
            margin: 0 0 0 90px;
            &:before
                margin: -10px 0 0 -16px;
                left: 0;
            &:after
                content: '';
                left: 0;
                margin: 0 0 0 -15px;
</style>