<template lang="pug">
    div(class="uk-card uk-card-default uk-card-body")
        slot(name="question")
        blockquote
            p.quotation
                slot(name="quote")
            footer Хозяйка таверны
</template>

<script>
  export default {
    name: 'Quote'
  }
</script>

<style lang="stylus" scoped>
    .uk-card
        margin-top 15px
    blockquote
        font-size: 20px;
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: .5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        padding: 10px 20px;
        line-height: 1.4;

        &:before
            content: open-quote;
            display: inline;
            height: 0;
            line-height: 0;
            left: -10px;
            position: relative;
            top: 30px;
            color: #ccc;
            font-size: 3em;

        & p
            margin: 0;

        & footer
            margin:0;
            text-align: right;
            font-size: 1em;
            font-style: italic;
</style>