<template lang="pug">
    div
        nav.main-menu
            ul
                li
                    router-link(to="/")
                        i(uk-icon="icon: rss")
                        span.nav-text Новости [Скоро]
                li
                    router-link(to="/chat")
                        i(uk-icon="icon: comments")
                        span.nav-text Chat
                li
                    router-link(to="/")
                        i(uk-icon="icon: bookmark")
                        span.nav-text Закладки [Скоро]
                li
                    router-link(to="/faq")
                        i(uk-icon="icon: question")
                        span.nav-text FAQ
                li
                    a.sub
                        span
                            i(uk-icon="icon: grid")
                            span.nav-text Каталоги
                        ul.sub-menu
                            li
                                router-link(to="/manga")
                                    i
                                    span.nav-text Каталог Манги
                            li
                                router-link(to="/")
                                    i
                                    span.nav-text Каталог Комиксов [Скоро]
</template>

<script>
export default {
  name: 'sidebar-nav'
}
</script>

<style lang="stylus" scoped>
    .main-menu
        background:#212121;
        border-right:1px solid #e5e5e5;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        width:60px;
        height:100%;
        overflow:hidden;
        transition:width .05s linear;
        -webkit-transform:translateZ(0) scale(1,1);
        &:hover
            width:200px;
            overflow:visible;
        &>ul
            margin:7px 0;
        & li
            position:relative;
            display:block;
            width:200px;
            &>a
                position:relative;
                display:table;
                border-collapse:collapse;
                border-spacing:0;
                color:#999;
                font-family: arial;
                font-size: 14px;
                text-decoration:none;
                -webkit-transform:translateZ(0) scale(1,1);
                -webkit-transition:all .1s linear;
                transition:all .1s linear;
                & i
                    font-size: 2em;
                    position: relative;
                    display: table-cell;
                    width: 60px;
                    height: 36px;
                    text-align: center;
                    vertical-align: middle;
                & .nav-text
                    position:relative;
                    display:table-cell;
                    vertical-align:middle;
                    width:140px;
                &:hover, &:focus
                    text-decoration:none;
            &>.sub
                position:relative;
                display:flex;
                flex-direction column
                border-collapse:collapse;
                border-spacing:0;
                color:#999;
                font-family: arial;
                font-size: 14px;
                text-decoration:none;
                -webkit-transform:translateZ(0) scale(1,1);
                -webkit-transition:all .1s linear;
                transition:all .1s linear;
        & li:hover .sub-menu
            display block
            max-height 200px
        & .sub-menu
            overflow hidden
            display none
            -webkit-transition: all 0.5s ease-out

    nav
        user-select:none;
        & ul, & li
            outline:0;
            margin:0;
            padding:0;

    .main-menu li:hover>a:not(.sub)
        color:#fff;
        background-color:#5fa2db;
</style>