<template lang="pug">
    div(class="sidebar")
        side-bar-nav
        div.fill
        span.v {{ 'v' + appVersion }}
</template>

<script>
import SideBarNav from './Nav'

export default {
  name: 'sidebar',
  components: {SideBarNav},
  data () {
    return {
      appVersion: require('electron').remote.app.getVersion()
    }
  }
}
</script>

<style lang="stylus" scoped>
    .sidebar
        height: 100%
        display flex
        flex-direction column
        width: 170px
        align-self flex-start
        z-index 10

        & .fill
            flex 1

        & .v
            padding-left: 5px
            z-index 2
</style>