<template lang="pug">
    div.catalog

        div.search-wrapper
            search
            paginate(
                v-if="!isSearch"
                ref="paginate"
                :initial-page="page"
                :page-count="count"
                :page-range="10"
                :container-class="'pagination'"
                :page-class="'uk-icon-button'"
                :page-link-class="'page-a'"
                :click-handler="flipPage"
                id="catalog-paginate"
            )
                span(slot="prevContent" class="hidden")
                span(slot="nextContent" class="hidden")

            paginate(
                v-else
                ref="paginate"
                :initial-page="searchPage"
                :page-count="searchCount"
                :page-range="10"
                :container-class="'pagination'"
                :page-class="'uk-icon-button'"
                :page-link-class="'page-a'"
                :click-handler="flipPage"
                id="search-paginate"
            )
                span(slot="prevContent" class="hidden")
                span(slot="nextContent" class="hidden")

        div(class="catalog-wrapper" v-if="!isSearch")
            div.items
                item(v-for="(item, index) in catalog", :key="item.id")
                    img(slot="cover", :src="item.cover")
                    span(slot="release" class="uk-badge") {{ item.strRelease }}
                    span(slot="translate" class="uk-badge") {{ item.strTranslate }}
                    router-link(slot="title", :to="{path: '/catalog/'+item.id}") {{ item.title }}

        div(class="catalog-wrapper", :class="{search: isSearch}", v-else)
            search-item(v-for="(item, index) in search.list", :key="index")
                img(slot="cover", :src="item.cover")
                router-link(slot="title", :to="{path: '/catalog/'+item.id}") {{ item.title }}
</template>

<script>
import item from './catalog/Item'
import searchItem from './catalog/search/SearchItem'
import search from './catalog/Search'
import vuex from '@/store/index.js'
import Paginate from 'vuejs-paginate'
import debounce from 'lodash/debounce'
import Vue from 'vue'

Vue.component('paginate', Paginate)

export default {
  name: 'catalog',
  components: {item, search, searchItem},
  created () {
    vuex.dispatch('setCatalog')
  },
  data () {
    return {
      route: this.$route,
      scrollPageStatus: true
    }
  },
  computed: {
    catalog () {
      return vuex.state.Catalog.catalog.manga
    },
    page () {
      let page = vuex.state.Catalog.catalog.page - 1
      return (page === -1) ? 0 : page
    },
    scrollPostion () {
      return vuex.state.Catalog.catalog.scrollPosition
    },
    search () {
      return vuex.state.Catalog.search.manga
    },
    searchCount () {
      let count = vuex.state.Catalog.search.manga.count / 20
      return Math.ceil(count)
    },
    searchPage () {
      let page = vuex.state.Catalog.search.page - 1
      return (page === -1) ? 0 : page
    },
    searchScrollPostion () {
      return vuex.state.Catalog.search.scrollPosition
    },
    isSearch () {
      let count = vuex.state.Catalog.search.manga.count
      if (count === 'undefined' || count === undefined) return false
      if (count !== 0) {
        vuex.dispatch('loadingStatus', false)
        return true
      } else {
        // eslint-disable-next-line no-undef
        UIkit.notification('По вашему запросу ничего не найдено!')
        vuex.dispatch('loadingStatus', false)
        return false
      }
    },
    count () {
      let count = vuex.state.Catalog.meta.count / 20
      return Math.ceil(count)
    }
  },
  mounted: function () {
    if (!this.isSearch) {
      let element = document.querySelector('.vb-content')
      if (element !== null) element.scrollTop = this.scrollPostion
    } else {
      let element = document.querySelector('.vb-content')
      if (element !== null) element.scrollTop = this.searchScrollPostion
    }
  },
  beforeRouteLeave (to, from, next) {
    let content = document.querySelector('.vb-content')
    if (content === null) {
      if (!this.isSearch) {
        vuex.dispatch('setCatalogScrollPosition', 0)
      } else {
        vuex.dispatch('setSearchScrollPosition', 0)
      }
    } else {
      let scrollposition = content.scrollTop
      if (!this.isSearch) {
        vuex.dispatch('setCatalogScrollPosition', scrollposition)
      } else {
        vuex.dispatch('setSearchScrollPosition', scrollposition)
      }
    }
    next()
  },
  watch: {
    isSearch: function () {
      if (!this.isSearch) {
        this.$refs.paginate.selected = this.page
      } else {
        this.$refs.paginate.selected = this.searchPage
      }
    },
    searchCount: function () {
      if (this.isSearch) {
        this.$refs.paginate.selected = this.searchPage
      }
    },
    catalog: function () {
      this.scrollPageStatus = true
    }
  },
  updated () {
    this.$nextTick(debounce(() => {
      onScroll(this)
    }, 250)) // increase to ur needs
  },
  methods: {
    flipPage: function (number, status = true) {
      let n = (number - 1) * 20
      if (!this.isSearch) {
        vuex.dispatch('flipPage', n)
        vuex.dispatch('setCatalogPage', number)
      } else {
        vuex.dispatch('searchFlipPage', n)
        vuex.dispatch('setSearchPage', number)
      }
      if (status) {
        let element = document.querySelector('.vb-content')
        if (element !== null) element.scrollTop = 0
      }
    }
  }
}

function onScroll (context) {
  let scrollPosition = 0
  let ticking = false
  let paginate = document.getElementById(((!context.isSearch) ? 'catalog-paginate' : 'search-paginate'))

  function doSomething (scrollPos) {
    if (scrollPos > 80) {
      paginate.classList.add('pagination-fixed')
    }
    if (scrollPos < 80) {
      paginate.classList.remove('pagination-fixed')
    }
    let trueDivHeight = document.querySelector('.vb-content').scrollHeight
    let divHeight = document.querySelector('.vb-content').offsetHeight
    let scrollLeft = trueDivHeight - divHeight - 100
    if (scrollPos > scrollLeft && context.scrollPageStatus) {
      context.scrollPageStatus = false
      let n = context.page + 2
      console.log('n', n)
      context.$refs.paginate.selected = n - 1
      context.flipPage(n, false)
    }
  }

  document.querySelector('.vb-content').addEventListener('scroll', (e) => {
    scrollPosition = document.getElementsByClassName('vb-content')[0].scrollTop

    if (!ticking) {
      window.requestAnimationFrame(() => {
        doSomething(scrollPosition)
        ticking = false
      })

      ticking = true
    }
  })
}
</script>

<style lang="stylus">
    .catalog
        width: 840px
        display flex
        flex-direction column

        & .search-wrapper
            display flex
            align-items center
            flex-direction column

        & .search
            flex-direction column

        & .catalog-wrapper
            display flex
            margin-top 20px
            & .items
                width 100%
                display flex
                flex-direction row
                flex-wrap wrap
            & .catalog-item
                margin-left: 25px

        & .pagination
            margin-top auto
            margin-bottom auto
            display flex
            flex-direction row
            list-style-type none
            padding 0
            height 100%
            justify-content center
            & .page-a
                text-decoration none
            & .active
                background-color: black
            & li
                margin-bottom 5px
        & .pagination-fixed
            position: fixed;
            z-index: 1;
            display: flex;
            height: 45px;
            background-color: rgba(7, 16, 25, 0.9)
            width: 100%;
            padding-top: 10px;
    .hidden
        display none

</style>