<template lang="pug">
    div.faq
        quote(v-for="item in questions")
            p(slot="question") {{ item.q }}
            span(slot="quote") {{ item.a }}
</template>

<script>
import quote from './faq/Quote'
export default {
  name: 'faq',
  data () {
    return {
      questions: [
        {
          q: 'Какие еще есть способы связаться с разработчиками?',
          a: 'Вы можете написать нам на E-mail - tavern-info@pm.me'
        },
        {
          q: 'Тут есть поиск по названию?',
          a: 'Да'
        },
        {
          q: 'Тут есть поиск по жанрам?',
          a: 'Пока нет, но скоро будет, так же как поиск по авторам, типам, статусам релиза и перевода'
        },
        {
          q: 'Почему список глав нужно каждый раз загружать заново?',
          a: 'Чтобы поддерживать его в актуальном состоянии'
        },
        {
          q: 'Я могу читать мангу без входа в аккаунт?',
          a: 'Нет'
        },
        {
          q: 'Как добавить мангу в закладки?',
          a: 'Пока никак, но мы скоро это исправим!'
        },
        {
          q: 'Как скачать главы на компьютер?',
          a: 'Они скачиваются автоматически'
        },
        {
          q: 'У меня есть идеи по улучшению Таверны, к кому я могу обратиться?',
          a: 'Вы можете написать в чат и пообщаться с Хозякой Такверны'
        },
        {
          q: 'Я нашел ошибку, куда об этом сообщить?',
          a: 'Скоро реализуем специальный функционал, для сообщений об ошибках, предложениях и пожеланиях.'
        },
        {
          q: 'Почему при регистрации у меня не попросили мой email?',
          a: 'У нас нет и не будет восстановления пароля или логина, по этому нам не нужен ваш email'
        },
        {
          q: 'Это приложение всегда будет бесплатным?',
          a: 'Нет, как только приложение закончит все тесты и выйдет в релиз, оно станет платным'
        },
        {
          q: 'По какой схеме будет работать платное приложение?',
          a: 'Приложение будет работать по схеме месячной подписки'
        },
        {
          q: 'Сколько будет стоить?',
          a: 'Данная информация пока не известна'
        },
        {
          q: 'Как еще я могу листать страницы во время чтения?',
          a: 'Вы можете использовать кнопки постраничной навигации, ЛКМ(вперед) и ПКМ(назад), а так же стрелки влево и вправо.'
        },
        {
          q: 'Как мне перейти на следующую главу?',
          a: 'Нажмите ЛКМ на последней странице текущей главы.'
        }
      ]
    }
  },
  components: {quote}
}
</script>

<style lang="stylus" scoped>
    .faq
        width 800px
</style>