<template lang="pug">
  div(id="app")
    div(class="wrapper" v-if="auth")
        sidebar.side-bar
        scroll(class="content vb-content-flex")
            main-block
    div(v-else)
        auth
</template>

<script type="text/javascript">
import vuex from '@/store/index.js'
import Scroll from './components/utils/Scroll'
import auth from './components/auth'
import Sidebar from './components/sidebar/SideBar'
import MainBlock from './components/Main'

export default {
  name: 'pirate-station-desktop',
  components: {Scroll, auth, Sidebar, MainBlock},
  data () {
    return {
      ipc: null
    }
  },
  created: function () {
    this.ipc = require('electron').ipcRenderer
    let response = this.ipc.sendSync('check-auth')
    vuex.dispatch('setProfile', response.data)
  },
  computed: {
    auth () {
      return vuex.state.Auth.auth
    }
  },
  mounted: function () {
  }
}
</script>

<style lang="stylus">
    @import '~uikit/dist/css/uikit.min.css'
    html, body
        height: 100%
    html
        background-color: rgba(7, 16, 25, 0.9)

    #app
        height: 100%
        display flex
        flex-direction column
        & .wrapper
            height: 100%
            display flex
            flex-direction row
            & .side-bar
                position fixed
            & .content
                margin-left 60px
                display flex
                flex 1
                justify-content center
</style>
