<template lang="pug">
    div.catalog-item
        div.cover
            slot(name="cover")
        div.title
            slot(name="title")

</template>

<script>
export default {
}
</script>

<style lang="stylus" scoped>
    .catalog-item
        position relative
        width: 100%
        height: 330px
        text-align center
        display flex
        flex-direction row
        & .cover
            width 200px
            height: 290px
            & img
                width: 100%
                height: 100%
                border-radius 6px
        & .title
            margin-left 15px
            & a
                font-size: 20px
                color: #aeb1b3;
                text-decoration: none;
                cursor: pointer;
                &:hover
                    color white

</style>